body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.chat-container {
    width: 90%;
    margin: 50px auto;
    border: 1px solid #6312ff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chat-box-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.chat-box {
    flex: 1;
    border: 1px solid #6312ff;
    height: 800px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#user-input {
    border: 1px solid #6312ff;
    width: calc(100% - 60px);
    padding: 10px;
    margin-right: 10px;
}

#send-button {
    width: 80px;
    padding: 10px;
    cursor: pointer;
}

.user-message, .bot-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.user-message {
    background-color: #8c61f6;
    text-align: left;
}

.bot-message {
    background-color: #b9a0f9;
    text-align: left;
}
