<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MARS</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>

<body>
<h1>Welcome to MARS</h1>
<div>
    <select id="lm-selector" onchange="alert('TODO')">
        <option value="" disabled selected>Select an LM</option>
        {% for lm in lms %}
            <option value="{{ loop.index0 }}">{{lm}}</option>
        {% endfor %}
    </select>
    <button onclick="alert('TODO')">Upload Report</button>
</div>
</body>
</html>
